{% load static %}
<style>
    .hello-msg{
        font-size: 18px;
        color : #ffffff;
        margin-right: 15px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url "home" %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}">Products</a>
      </li>
        {% else %}
         <li class="nav-item active">
         <a class="nav-link" href="{% url 'account' %}">Settings <span class="sr-only">(current)</span></a>
         </li>
        {% endif %}
    </ul>
  </div>
    {% if request.user.is_authenticated %}
        <span class="hello-msg">{{ request.user }}</span>
        <span ><a class="hello-msg btn-block" href="{% url 'logout' %}" >Logout</a></span>
    {% else %}
        <span ><a class="hello-msg btn-block" href="{% url 'login' %}" >Login</a></span>
        <span ><a class="hello-msg btn-block" href="{% url 'register' %}" >Register</a></span>
    {% endif %}

</nav>
